<div class="container">

  <div class="row">
    <div class="col-md-12">
      <form class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control" id="search" placeholder="Category" ng-model="searchCategory">
        </div>
        <a class="btn btn-primary" ng-click="filterProducts()">Search</a>
        <a class="btn btn-default" ng-click="resetSearch()">Reset</a>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered">
        <th>#</th>
        <th>Name</th>
        <th>SKU</th>
        <th>Category</th>
        <th>Actions</th>
        <tr ng-repeat="product in paginatedProductsList" class="product-row" product="product" index="(currentPage - 1) * itemsPerPage + $index + 1">
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <pagination ng-show="totalItems > itemsPerPage" items-per-page="itemsPerPage" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></pagination>
    </div>
  </div>
</div>
